$mainColor: #000000;
$whiteColor: #ffffff;
$accentColor: #ff6b08;
$secondAccentColor: #ff001b; // підкреслення поточної сторінки, текст помилки пошуку (під інпутом)

$bgColor: #f7f7f7; // фон футера, стрілок

$secondTextColor: #545454; // текст футера
$lightTextColor: #8c8c8c; // світлий текст модалки
