<div class="footer">
    <div class="footer__text">© 2020 | All Rights Reserved | </div>
    <div class="footer__conteiner">
    <span class="footer__dev">Developed with</span>
    <svg class="footer__image">
        <use class="footer__icon" href="/src/images/heart.svg#icon-Vector-3"></use>
    </svg>
    by&nbsp
    <a data-modal-open class="footer__link" href="">GoIT Students</a>
    </div>
</div>











<!-- <button type="button" class="login">Login</button>



<div class="modal">
    <button type="button" class="btn__modal__close">
        <svg class="modal__image">
            <use class="modal__icon" href="/src/images/close.svg#icon-close"></use>
        </svg>
    </button>
    <p class="modal__title">Регистрация</p>
    <form class="modal__form">
        <div class="modal__field">
            <label for="user-name" class="modal__label">Name</label>
            <input type="text" class="modal__input" name="user-name" id="user-name">

            <label for="user-tell" class="modal__label">Phone</label>
            <input type="text" class="modal__input" name="user-tell" id="user-tell">

            <label for="user-mail" class="modal__label">Email</label>
            <input type="text" class="modal__input" name="user-mail" id="user-mail">
        </div>
        <div class="modal__btn">
            <button type="submit" class="btn__sign__up">SING UP</button>
        </div>
        
    </form>
</div> -->