<section class="library">
  <div class="header__btns">
    <button type="button" class="header__btns__button mr active js-watched">
      watched
    </button>
    <button type="button" class="header__btns__button js-queue">queue</button>
  </div>
  <div class="modal__btns">
    <button type="button" class="modal__btns__button mr active js-addtowatched">
      add to watched
    </button>
    <button type="button" class="modal__btns__button js-addtoqueue">
      add to queue
    </button>
  </div>
  <div class="movies-lib"></div>
</section>
